@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');


header{
    font-family:"Roboto Mono", monospace;
    font: size 1.5em;;
}

body{
    font-family:"Yrsa", serif;
    font-size: 1em;
}

.title{
    text-decoration:#5a25723c dotted underline;
    color:#3f2a49dd;
    background-color: #5a257218;
}
h1,h3{
    text-align: left;
}

.col-md-5 { max-height:50vh;}

img {
height: 100% !important ;
width: 100% !important;
object-fit:fill;
}

@media(max-width:768px)